/*Iphone SE*/
@media only screen 
  and (min-device-width: 0px)
  and (max-device-width: 390px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .view {
        width: 100%;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .Name{
        top: -0.60em;
        left: 2.5em;
        position: absolute;
        font-size: 13em;
    }
    .VinesL{
        height: 140%;
        width: 500%;
        top: -17em;
        left: -14em;
        position: absolute;
    }
    .border1{
        height: 30%;
        width: 130%;
        top: 45em;
        left:-7em;
        position: absolute;
    }
    .border2{
        height: 30%;
        width: 130%;
        top: 45em;
        left:11em;
        position: absolute;
    }
    .border3{
        height: 30%;
        width: 130%;
        top: 45em;
        left:27em;
        position: absolute;
    }
    .border4{
        height: 30%;
        width: 130%;
        top: 45em;
        left:42em;
        position: absolute;
    }
    .border5{
        height: 30%;
        width: 130%;
        top: 45em;
        left:58em;
        position: absolute;
    }
    .border6{
        height: 30%;
        width: 130%;
        top: 45em;
        left:76em;
        position: absolute;
    }
    .Aboutb{
        height: 36%;
        width: 140%;
        top: -3.3em;
        left: -8em;
        position: absolute;
    }
    .Skillsb{
        height: 36%;
        width: 140%;
        top: 11.8em;
        left: -5.8em;
        position: absolute;
    }
    .Projectsb{
        height: 36%;
        width: 140%;
        top: 20.1em;
        left: -5em;
        position: absolute;
    }
    .Contactsb{
        height: 36%;
        width: 140%;
        top: 5em;
        left: -0.4em;
        position: absolute;
    }
    /*About me*/
    .Picture{
        height: 85%;
        width: 141vw;
        background-color:#9E606F;
        top: 1000px;
        left: -1px;
        position: absolute;
        border-radius: 25%;
        }
        .About{
        height: 85%;
        width: 400vw;
        background-color: aliceblue;
        top: 1000px;
        left:0px;
        position: absolute;
        }
        .AboutF{
        top: 1044px;
        left: 653px;
        position: absolute;
        font-size:50px;
        width: 833px;
        }
        .flower1{
        height: 25%;
        width: 100%;
        top: 960px;
        left: 1435px;
        position: absolute;
        }
        .flower2{
        height: 25%;
        width: 100%;
        top: 1460px;
        left: -190px;
        position: absolute;
        }
        .flower3{
        height: 25%;
        width: 100%;
        top: 977px;
        left: -190px;
        position: absolute;
        }
        .flower4{
        height: 25%;
        width: 100%;
        top: 1460px;
        left: 329px;
        position: absolute;
        }
        .flower5{
        height: 25%;
        width: 100%;
        top: 977px;
        left: 329px;
        position: absolute;
        }
        .flower6{
        height: 25%;
        width: 100%;
        top: 1460px;
        left: 1435px;
        position: absolute;
        }
        /*Skills*/
    .Skills{
        height: 61%;
        width: 400%;
        background-color: aliceblue;
        top: 1750px;
        left:0px;
        position: absolute;
        display: grid;
        grid-template-columns: auto auto auto;
        }
        .python{
        height: 25%;
        width: 80%;
        top: 1798px;
        left: 20px;
        position: absolute;
        }
        .pythonF{
        top: 1960px;
        left: 145px;
        position: absolute;
        font-size: xx-large;
        }
        .C{
        height: 25%;
        width: 80%;
        top: 1800px;
        left: 680px;
        position: absolute;
        }
        .CF{
        top: 1960px;
        left: 816px;
        position: absolute;
        font-size: xx-large;
        }
        .H{
        height: 25%;
        width: 80%;
        top: 1800px;
        left: 340px;
        position: absolute;
        }
        .HF{
        top: 1960px;
        left: 459px;
        position: absolute;
        font-size: xx-large;
        }
        .JS{
        height: 25%;
        width: 80%;
        top: 1800px;
        left: 1000px;
        position: absolute;}
        
        .JSF{top: 1960px;
        left: 1120px;
        position: absolute;
        font-size: xx-large;}
        
        .flower7{
        height: 25%;
        width: 100%;
        top: 1700px;
        left: 1440px;
        position: absolute;
        }
        .flower8{
        height: 25%;
        width: 100%;
        top: 1700px;
        left: -200px;
        position: absolute;
        }
        .flower9{
        height: 25%;
        width: 100%;
        top: 2141px;
        left: 1440px;
        position: absolute;
        }
        .flower10{
        height: 25%;
        width: 100%;
        top: 2141px;
        left: -200px;
        position: absolute;
        }
        /*Projects*/
        .Projects{
        height: 80%;
        width: 400%;
        background-color: aliceblue;
        top: 2450px;
        left:0px;
        position: absolute;
        }
        .flower11{
        height: 25%;
        width: 100%;
        top: 2400px;
        left: 1450px;
        position: absolute;
        }
        .flower12{
        height: 25%;
        width: 100%;
        top: 2400px;
        left: -200px;
        position: absolute;
        }
        .flower13{
        height: 25%;
        width: 100%;
        top: 3040px;
        left: -200px;
        position: absolute;
        }
        .flower14{
        height: 25%;
        width: 100%;
        top: 3040px;
        left: 1450px;
        position: absolute;
        }
        .monopoly{
        height: 80%;
        width: 200%;
        top: 2470px;
        left: -2px;
        position: absolute;
        }
        .cookbook{
        height: 80%;
        width: 200%;
        top: 2470px;
        left: 830px;
        position: absolute;
        }
        /*Contacts*/
        .Contacts{
        height: 40%;
        width: 400%;
        background-color: aliceblue;
        top: 3300px;
        left:1px;
        position: absolute;
        }
        .ContactsT{
        top: 3200px;
        left: 750px;
        position: absolute;
        font-size: xx-large;
        }
        .ContactsL{
        top: 3200px;
        left: 596px;
        position: absolute;
        font-size: xx-large;
        }
        .Mail{
        top: 3350px;
        left: 680px;
        position: absolute;
        height: 25%;
        width: 70%;
        
        }
        .Linkdin{
        top: 3350px;
        left: 300px;
        position: absolute;
        height: 25%;
        width: 70%;
        }
        .Github{
        top: 3350px;
        left: 1060px;
        position: absolute;
        height: 25%;
        width: 70%;
        }
        .flower15{
        height: 25%;
        width: 100%;
        top: 3260px;
        left: 1440px;
        position: absolute;
        }
        .flower16{
        height: 25%;
        width: 100%;
        top: 3260px;
        left: -200px;
        position: absolute;
        }
        .flower17{
        height: 25%;
        width: 100%;
        top: 3475px;
        left: 1440px;
        position: absolute;
        }
        .flower18{
        height: 25%;
        width: 100%;
        top: 3475px;
        left: -200px;
        position: absolute;
        }
  }
/*Iphone*/
@media only screen 
  and (min-device-width: 413px) 
  and (max-device-width: 414px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2){ 
    .Name{
        top: -1em;
        left: 3em;
        position: absolute;
        font-size: 13em;
    }
    .VinesL{
        height: 140%;
        width: 500%;
        top: -22em;
        left: -15.3em;
        position: absolute;
    }
    .border1{
        height: 30%;
        width: 130%;
        top: 45em;
        left:-10em;
        position: absolute;
    }
    .border2{
        height: 30%;
        width: 130%;
        top: 45em;
        left:10em;
        position: absolute;
    }
    .border3{
        height: 30%;
        width: 130%;
        top: 45em;
        left:30em;
        position: absolute;
    }
    .border4{
        height: 30%;
        width: 130%;
        top: 45em;
        left:50em;
        position: absolute;
    }
    .border5{
        height: 30%;
        width: 130%;
        top: 45em;
        left:70em;
        position: absolute;
    }
    .border6{
        height: 30%;
        width: 130%;
        top: 45em;
        left:90em;
        position: absolute;
    }
    
    .Aboutb{
        height: 35%;
        width: 140%;
        top: -3.2em;
        left: -9em;
        position: absolute;
    }
    .Skillsb{
        height: 35%;
        width: 140%;
        top: 7.4em;
        left: 0em;
        position: absolute;
    }
    .Projectsb{
        height: 35%;
        width: 140%;
        top: 17.4em;
        left: -10.2em;
        position: absolute;
    }
    .Contactsb{
        height: 35%;
        width: 140%;
        top: 28em;
        left: -1.4em;
        position: absolute;
    }
    
    /*About me*/
    .Picture{
    height: 70%;
    width: 130%;
    background-color:#9E606F;
    top: 1000px;
    left: -1px;
    position: absolute;
    border-radius: 25%;
    }
    .About{
    height: 70%;
    width: 400%;
    background-color: aliceblue;
    top: 1000px;
    left:0px;
    position: absolute;
    }
    .AboutF{
    top: 1044px;
    left: 653px;
    position: absolute;
    font-size:50px;
    width: 833px;
    }
    .flower1{
    height: 25%;
    width: 100%;
    top: 960px;
    left: 1435px;
    position: absolute;
    }
    .flower2{
    height: 25%;
    width: 100%;
    top: 1460px;
    left: -190px;
    position: absolute;
    }
    .flower3{
    height: 25%;
    width: 100%;
    top: 960px;
    left: -190px;
    position: absolute;
    }
    .flower4{
    height: 25%;
    width: 100%;
    top: 1460px;
    left: 329px;
    position: absolute;
    }
    .flower5{
    height: 25%;
    width: 100%;
    top: 960px;
    left: 329px;
    position: absolute;
    }
    .flower6{
    height: 25%;
    width: 100%;
    top: 1460px;
    left: 1435px;
    position: absolute;
    }
    /*Skills*/
    .Skills{
    height: 61%;
    width: 400%;
    background-color: aliceblue;
    top: 1750px;
    left:0px;
    position: absolute;
    }
    .python{
    height: 25%;
    width: 80%;
    top: 1798px;
    left: 20px;
    position: absolute;
    }
    .pythonF{
    top: 1960px;
    left: 145px;
    position: absolute;
    font-size: xx-large;
    }
    .C{
    height: 25%;
    width: 80%;
    top: 1800px;
    left: 680px;
    position: absolute;
    }
    .CF{
    top: 1960px;
    left: 816px;
    position: absolute;
    font-size: xx-large;
    }
    .H{
    height: 25%;
    width: 80%;
    top: 1800px;
    left: 340px;
    position: absolute;
    }
    .HF{
    top: 1960px;
    left: 459px;
    position: absolute;
    font-size: xx-large;
    }
    .JS{
    height: 25%;
    width: 80%;
    top: 1800px;
    left: 1000px;
    position: absolute;}
    
    .JSF{top: 1960px;
    left: 1120px;
    position: absolute;
    font-size: xx-large;}
    
    .flower7{
    height: 25%;
    width: 100%;
    top: 1700px;
    left: 1440px;
    position: absolute;
    }
    .flower8{
    height: 25%;
    width: 100%;
    top: 1700px;
    left: -200px;
    position: absolute;
    }
    .flower9{
    height: 25%;
    width: 100%;
    top: 2141px;
    left: 1440px;
    position: absolute;
    }
    .flower10{
    height: 25%;
    width: 100%;
    top: 2141px;
    left: -200px;
    position: absolute;
    }
    /*Projects*/
    .Projects{
    height: 80%;
    width: 400%;
    background-color: aliceblue;
    top: 2450px;
    left:0px;
    position: absolute;
    }
    .flower11{
    height: 25%;
    width: 100%;
    top: 2400px;
    left: 1450px;
    position: absolute;
    }
    .flower12{
    height: 25%;
    width: 100%;
    top: 2400px;
    left: -200px;
    position: absolute;
    }
    .flower13{
    height: 25%;
    width: 100%;
    top: 3040px;
    left: -200px;
    position: absolute;
    }
    .flower14{
    height: 25%;
    width: 100%;
    top: 3040px;
    left: 1450px;
    position: absolute;
    }
    .monopoly{
    height: 80%;
    width: 200%;
    top: 2470px;
    left: -2px;
    position: absolute;
    }
    .cookbook{
    height: 80%;
    width: 200%;
    top: 2470px;
    left: 830px;
    position: absolute;
    }
    /*Contacts*/
    .Contacts{
    height: 40%;
    width: 400%;
    background-color: aliceblue;
    top: 3300px;
    left:1px;
    position: absolute;
    }
    .ContactsT{
    top: 3200px;
    left: 750px;
    position: absolute;
    font-size: xx-large;
    }
    .ContactsL{
    top: 3200px;
    left: 596px;
    position: absolute;
    font-size: xx-large;
    }
    .Mail{
    top: 3350px;
    left: 680px;
    position: absolute;
    height: 25%;
    width: 70%;
    
    }
    .Linkdin{
    top: 3350px;
    left: 300px;
    position: absolute;
    height: 25%;
    width: 70%;
    }
    .Github{
    top: 3350px;
    left: 1060px;
    position: absolute;
    height: 25%;
    width: 70%;
    }
    .flower15{
    height: 25%;
    width: 100%;
    top: 3260px;
    left: 1440px;
    position: absolute;
    }
    .flower16{
    height: 25%;
    width: 100%;
    top: 3260px;
    left: -200px;
    position: absolute;
    }
    .flower17{
    height: 25%;
    width: 100%;
    top: 3475px;
    left: 1440px;
    position: absolute;
    }
    .flower18{
    height: 25%;
    width: 100%;
    top: 3475px;
    left: -200px;
    position: absolute;
    }
}
/*Iphone SE*/
@media only screen 
  and (min-device-width: 0px)
  and (max-device-width: 390px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    body{
        background-image: linear-gradient(#9E606F, #C07F80, #E1AA96, #E9BCB2, #E1989F);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 0%;
        margin: 0%;
        font-family: 'Brush Script MT', ,cursive;
        overflow-x: hidden;
        width: fit-content;
        
    }
    .view {
        width: fit-content;
        height: fit-content;
        margin: 0px;
        padding: 0px;
    }
    .Name{
        top: -0.60em;
        left: 2.5em;
        position: absolute;
        font-size: 10em;
    }
    .VinesL{
        height: 120%;
        width: 580%;
        top: -17em;
        left: -14em;
        position: absolute;
    }
    .border1{
        height: 30%;
        width: 130%;
        top: 45em;
        left:-7em;
        position: absolute;
    }
    .border2{
        height: 30%;
        width: 130%;
        top: 45em;
        left:11em;
        position: absolute;
    }
    .border3{
        height: 30%;
        width: 130%;
        top: 45em;
        left:27em;
        position: absolute;
    }
    .border4{
        height: 30%;
        width: 130%;
        top: 45em;
        left:42em;
        position: absolute;
    }
    .border5{
        height: 30%;
        width: 130%;
        top: 45em;
        left:58em;
        position: absolute;
    }
    .border6{
        height: 30%;
        width: 130%;
        top: 45em;
        left:76em;
        position: absolute;
    }
    .Aboutb{
        height: 36%;
        width: 140%;
        top: -3.3em;
        left: -8em;
        position: absolute;
    }
    .Skillsb{
        height: 36%;
        width: 140%;
        top: 11.8em;
        left: -5.8em;
        position: absolute;
    }
    .Projectsb{
        height: 36%;
        width: 140%;
        top: 20.1em;
        left: -5em;
        position: absolute;
    }
    .Contactsb{
        height: 36%;
        width: 140%;
        top: 5em;
        left: -0.4em;
        position: absolute;
    }
    /*About me*/
    .Picture{
        height: 85%;
        width: 141vw;
        background-color:#9E606F;
        top: 1000px;
        left: -1px;
        position: absolute;
        border-radius: 25%;
        }
        .About{
        height: 85%;
        width: 400vw;
        background-color: aliceblue;
        top: 1000px;
        left:0px;
        position: absolute;
        }
        .AboutF{
        top: 1044px;
        left: 653px;
        position: absolute;
        font-size:50px;
        width: 833px;
        }
        .flower1{
        height: 25%;
        width: 100%;
        top: 960px;
        left: 1435px;
        position: absolute;
        }
        .flower2{
        height: 25%;
        width: 100%;
        top: 1460px;
        left: -190px;
        position: absolute;
        }
        .flower3{
        height: 25%;
        width: 100%;
        top: 977px;
        left: -190px;
        position: absolute;
        }
        .flower4{
        height: 25%;
        width: 100%;
        top: 1460px;
        left: 329px;
        position: absolute;
        }
        .flower5{
        height: 25%;
        width: 100%;
        top: 977px;
        left: 329px;
        position: absolute;
        }
        .flower6{
        height: 25%;
        width: 100%;
        top: 1460px;
        left: 1435px;
        position: absolute;
        }
        /*Skills*/
    .Skills{
        height: 61%;
        width: 400%;
        background-color: aliceblue;
        top: 1750px;
        left:0px;
        position: absolute;
        display: grid;
        grid-template-columns: auto auto auto;
        }
        .python{
        height: 25%;
        width: 80%;
        top: 1798px;
        left: 20px;
        position: absolute;
        }
        .pythonF{
        top: 1960px;
        left: 145px;
        position: absolute;
        font-size: xx-large;
        }
        .C{
        height: 25%;
        width: 80%;
        top: 1800px;
        left: 680px;
        position: absolute;
        }
        .CF{
        top: 1960px;
        left: 816px;
        position: absolute;
        font-size: xx-large;
        }
        .H{
        height: 25%;
        width: 80%;
        top: 1800px;
        left: 340px;
        position: absolute;
        }
        .HF{
        top: 1960px;
        left: 459px;
        position: absolute;
        font-size: xx-large;
        }
        .JS{
        height: 25%;
        width: 80%;
        top: 1800px;
        left: 1000px;
        position: absolute;}
        
        .JSF{top: 1960px;
        left: 1120px;
        position: absolute;
        font-size: xx-large;}
        
        .flower7{
        height: 25%;
        width: 100%;
        top: 1700px;
        left: 1440px;
        position: absolute;
        }
        .flower8{
        height: 25%;
        width: 100%;
        top: 1700px;
        left: -200px;
        position: absolute;
        }
        .flower9{
        height: 25%;
        width: 100%;
        top: 2141px;
        left: 1440px;
        position: absolute;
        }
        .flower10{
        height: 25%;
        width: 100%;
        top: 2141px;
        left: -200px;
        position: absolute;
        }
        /*Projects*/
        .Projects{
        height: 80%;
        width: 400%;
        background-color: aliceblue;
        top: 2450px;
        left:0px;
        position: absolute;
        }
        .flower11{
        height: 25%;
        width: 100%;
        top: 2400px;
        left: 1450px;
        position: absolute;
        }
        .flower12{
        height: 25%;
        width: 100%;
        top: 2400px;
        left: -200px;
        position: absolute;
        }
        .flower13{
        height: 25%;
        width: 100%;
        top: 3040px;
        left: -200px;
        position: absolute;
        }
        .flower14{
        height: 25%;
        width: 100%;
        top: 3040px;
        left: 1450px;
        position: absolute;
        }
        .monopoly{
        height: 80%;
        width: 200%;
        top: 2470px;
        left: -2px;
        position: absolute;
        }
        .cookbook{
        height: 80%;
        width: 200%;
        top: 2470px;
        left: 830px;
        position: absolute;
        }
        /*Contacts*/
        .Contacts{
        height: 40%;
        width: 400%;
        background-color: aliceblue;
        top: 3300px;
        left:1px;
        position: absolute;
        }
        .ContactsT{
        top: 3200px;
        left: 750px;
        position: absolute;
        font-size: xx-large;
        }
        .ContactsL{
        top: 3200px;
        left: 596px;
        position: absolute;
        font-size: xx-large;
        }
        .Mail{
        top: 3350px;
        left: 680px;
        position: absolute;
        height: 25%;
        width: 70%;
        
        }
        .Linkdin{
        top: 3350px;
        left: 300px;
        position: absolute;
        height: 25%;
        width: 70%;
        }
        .Github{
        top: 3350px;
        left: 1060px;
        position: absolute;
        height: 25%;
        width: 70%;
        }
        .flower15{
        height: 25%;
        width: 100%;
        top: 3260px;
        left: 1440px;
        position: absolute;
        }
        .flower16{
        height: 25%;
        width: 100%;
        top: 3260px;
        left: -200px;
        position: absolute;
        }
        .flower17{
        height: 25%;
        width: 100%;
        top: 3475px;
        left: 1440px;
        position: absolute;
        }
        .flower18{
        height: 25%;
        width: 100%;
        top: 3475px;
        left: -200px;
        position: absolute;
        }
  }
/*Iphone*/
@media only screen 
  and (min-device-width: 413px) 
  and (max-device-width: 414px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2){ 
    .Name{
        top: -1em;
        left: 3em;
        position: absolute;
        font-size: 13em;
    }
    .VinesL{
        height: 140%;
        width: 500%;
        top: -22em;
        left: -15.3em;
        position: absolute;
    }
    .border1{
        height: 30%;
        width: 130%;
        top: 45em;
        left:-10em;
        position: absolute;
    }
    .border2{
        height: 30%;
        width: 130%;
        top: 45em;
        left:10em;
        position: absolute;
    }
    .border3{
        height: 30%;
        width: 130%;
        top: 45em;
        left:30em;
        position: absolute;
    }
    .border4{
        height: 30%;
        width: 130%;
        top: 45em;
        left:50em;
        position: absolute;
    }
    .border5{
        height: 30%;
        width: 130%;
        top: 45em;
        left:70em;
        position: absolute;
    }
    .border6{
        height: 30%;
        width: 130%;
        top: 45em;
        left:90em;
        position: absolute;
    }
    
    .Aboutb{
        height: 35%;
        width: 140%;
        top: -3.2em;
        left: -9em;
        position: absolute;
    }
    .Skillsb{
        height: 35%;
        width: 140%;
        top: 7.4em;
        left: 0em;
        position: absolute;
    }
    .Projectsb{
        height: 35%;
        width: 140%;
        top: 17.4em;
        left: -10.2em;
        position: absolute;
    }
    .Contactsb{
        height: 35%;
        width: 140%;
        top: 28em;
        left: -1.4em;
        position: absolute;
    }
    
    /*About me*/
    .Picture{
    height: 70%;
    width: 130%;
    background-color:#9E606F;
    top: 1000px;
    left: -1px;
    position: absolute;
    border-radius: 25%;
    }
    .About{
    height: 70%;
    width: 400%;
    background-color: aliceblue;
    top: 1000px;
    left:0px;
    position: absolute;
    }
    .AboutF{
    top: 1044px;
    left: 653px;
    position: absolute;
    font-size:50px;
    width: 833px;
    }
    .flower1{
    height: 25%;
    width: 100%;
    top: 960px;
    left: 1435px;
    position: absolute;
    }
    .flower2{
    height: 25%;
    width: 100%;
    top: 1460px;
    left: -190px;
    position: absolute;
    }
    .flower3{
    height: 25%;
    width: 100%;
    top: 960px;
    left: -190px;
    position: absolute;
    }
    .flower4{
    height: 25%;
    width: 100%;
    top: 1460px;
    left: 329px;
    position: absolute;
    }
    .flower5{
    height: 25%;
    width: 100%;
    top: 960px;
    left: 329px;
    position: absolute;
    }
    .flower6{
    height: 25%;
    width: 100%;
    top: 1460px;
    left: 1435px;
    position: absolute;
    }
    /*Skills*/
    .Skills{
    height: 61%;
    width: 400%;
    background-color: aliceblue;
    top: 1750px;
    left:0px;
    position: absolute;
    }
    .python{
    height: 25%;
    width: 80%;
    top: 1798px;
    left: 20px;
    position: absolute;
    }
    .pythonF{
    top: 1960px;
    left: 145px;
    position: absolute;
    font-size: xx-large;
    }
    .C{
    height: 25%;
    width: 80%;
    top: 1800px;
    left: 680px;
    position: absolute;
    }
    .CF{
    top: 1960px;
    left: 816px;
    position: absolute;
    font-size: xx-large;
    }
    .H{
    height: 25%;
    width: 80%;
    top: 1800px;
    left: 340px;
    position: absolute;
    }
    .HF{
    top: 1960px;
    left: 459px;
    position: absolute;
    font-size: xx-large;
    }
    .JS{
    height: 25%;
    width: 80%;
    top: 1800px;
    left: 1000px;
    position: absolute;}
    
    .JSF{top: 1960px;
    left: 1120px;
    position: absolute;
    font-size: xx-large;}
    
    .flower7{
    height: 25%;
    width: 100%;
    top: 1700px;
    left: 1440px;
    position: absolute;
    }
    .flower8{
    height: 25%;
    width: 100%;
    top: 1700px;
    left: -200px;
    position: absolute;
    }
    .flower9{
    height: 25%;
    width: 100%;
    top: 2141px;
    left: 1440px;
    position: absolute;
    }
    .flower10{
    height: 25%;
    width: 100%;
    top: 2141px;
    left: -200px;
    position: absolute;
    }
    /*Projects*/
    .Projects{
    height: 80%;
    width: 400%;
    background-color: aliceblue;
    top: 2450px;
    left:0px;
    position: absolute;
    }
    .flower11{
    height: 25%;
    width: 100%;
    top: 2400px;
    left: 1450px;
    position: absolute;
    }
    .flower12{
    height: 25%;
    width: 100%;
    top: 2400px;
    left: -200px;
    position: absolute;
    }
    .flower13{
    height: 25%;
    width: 100%;
    top: 3040px;
    left: -200px;
    position: absolute;
    }
    .flower14{
    height: 25%;
    width: 100%;
    top: 3040px;
    left: 1450px;
    position: absolute;
    }
    .monopoly{
    height: 80%;
    width: 200%;
    top: 2470px;
    left: -2px;
    position: absolute;
    }
    .cookbook{
    height: 80%;
    width: 200%;
    top: 2470px;
    left: 830px;
    position: absolute;
    }
    /*Contacts*/
    .Contacts{
    height: 40%;
    width: 400%;
    background-color: aliceblue;
    top: 3300px;
    left:1px;
    position: absolute;
    }
    .ContactsT{
    top: 3200px;
    left: 750px;
    position: absolute;
    font-size: xx-large;
    }
    .ContactsL{
    top: 3200px;
    left: 596px;
    position: absolute;
    font-size: xx-large;
    }
    .Mail{
    top: 3350px;
    left: 680px;
    position: absolute;
    height: 25%;
    width: 70%;
    
    }
    .Linkdin{
    top: 3350px;
    left: 300px;
    position: absolute;
    height: 25%;
    width: 70%;
    }
    .Github{
    top: 3350px;
    left: 1060px;
    position: absolute;
    height: 25%;
    width: 70%;
    }
    .flower15{
    height: 25%;
    width: 100%;
    top: 3260px;
    left: 1440px;
    position: absolute;
    }
    .flower16{
    height: 25%;
    width: 100%;
    top: 3260px;
    left: -200px;
    position: absolute;
    }
    .flower17{
    height: 25%;
    width: 100%;
    top: 3475px;
    left: 1440px;
    position: absolute;
    }
    .flower18{
    height: 25%;
    width: 100%;
    top: 3475px;
    left: -200px;
    position: absolute;
    }
}

@media only screen
and (min-device-width:1500px){
    .Name{
        top: -74px;
        left: 490px;
        position: absolute;
        font-size: 125px;
    }
}
