/*Phones*/
@media screen and (max-width: 540px) {
    .view {
        width: 400px;
    }
}
/*Tablets*/
@media screen and (min-width: 540px) and (max-width: 780px) {
    .view {
        width: 600px;
    }
}
/*Computers*/
@media screen and (min-width: 780px) {
   /*Body*/
    .view {
        width: 100%;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    body{
    background-image: linear-gradient(#9E606F, #C07F80, #E1AA96, #E9BCB2, #E1989F);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0%;
    margin: 0%;
    font-family: 'Brush Script MT', cursive;
    overflow-x: hidden;
}
    button:hover{
    background-color: #ffcece;
}
button{
    color: transparent! important;
     background: transparent! important; 
     border: none! important;}


/*Heading*/
.Name{
    height:100%;
    width: 100%;
    top: -200px;
    left: 155px;
    position: absolute;
    
}
.VinesL{
    height: 130%;
    width: 140%;
    top: -285px;
    left: -300px;
    position: absolute;
}
.VinesR{
    height: 130%;
    width: 140%;
    top: -285px;
    left: -268px;
    position: absolute;
}


/*About me*/
.Aboutb{
    height: 16%;
    width: 13%;
    background-color: aliceblue;
    border-radius: 100%;
    top: 13px;
    left: 10px;
    position: absolute;
}
.Picture{
    height: 70%;
    width: 32%;
    background-color:#9E606F;
    top: 570px;
    left: -1px;
    position: absolute;
    border-radius: 25%;
}
.About{
    height: 70%;
    width: 100%;
    background-color: aliceblue;
    top: 570px;
    left:0px;
    position: absolute;
}
.AboutF{
    top: 650px;
    left:498px;
    position: absolute;
    font-size:xx-large;
}
.rope{
    height: 30%;
    width: 80%;
    top: 978px;
    left: -180px;
    position: absolute;
}
.rope2{
    height: 30%;
    width: 80%;
    top: 480px;
    left: -475px;
    position: absolute;
}
}
.flower1{
    height: 20%;
    width: 30%;
    top: 557px;
    left: 1190px;
    position: absolute;
}
.flower2{
    height: 20%;
    width: 30%;
    top: 986px;
    left: -198px;
    position: absolute;
}
.flower3{
    height: 20%;
    width: 30%;
    top: 557px;
    left: -198px;
    position: absolute;
}
.flower4{
    height: 20%;
    width: 30%;
    top: 990px;
    left: 230px;
    position: absolute;
}
.flower5{
    height: 20%;
    width: 30%;
    top: 557px;
    left: 225px;
    position: absolute;
}
.flower6{
    height: 20%;
    width: 30%;
    top: 990px;
    left: 1180px;
    position: absolute;
}


/*Skills*/
.Skillsb{
    height: 16%;
    width: 13%;
    background-color: aliceblue;
    border-radius: 100%;
    top: 10px;
    left: 1200px;
    position: absolute;
}
.Skills{
    height: 61%;
    width: 100%;
    background-color: aliceblue;
    top: 1180px;
    left:0px;
    position: absolute;
}
.python{
    height: 32%;
    width: 15%;
    top: 1220px;
    left: 90px;
    position: absolute;
}
.pythonF{
    top: 1359px;
    left: 155px;
    position: absolute;
    font-size: xx-large;
}
.bar{
    top: 400px;
    left: 200px;
    position: absolute;
}
.flower7{
    height: 20%;
    width: 30%;
    top: 1160px;
    left: 1180px;
    position: absolute;
}
.flower8{
    height: 20%;
    width: 30%;
    top: 1160px;
    left: -200px;
    position: absolute;
}
.flower9{
    height: 20%;
    width: 30%;
    top: 1550px;
    left: 1180px;
    position: absolute;
}
.flower10{
    height: 20%;
    width: 30%;
    top: 1550px;
    left: -200px;
    position: absolute;
}


/*Projects*/
.Projectsb{
    height: 16%;
    width: 13%;
    background-color: aliceblue;
    border-radius: 100%;
    top: 140px;
    left: 1125px;
    position: absolute;
}
.Projects{
    height: 80%;
    width: 100%;
    background-color: aliceblue;
    top: 1690px;
    left:0px;
    position: absolute;
}

/*Contacts*/
.Contactsb{
    height: 16%;
    width: 13%;
    background-color: aliceblue;
    border-radius: 100%;
    top: 138px;
    left: 90px;
    position: absolute;
}
.Contacts{
    height: 40%;
    width: 100%;
    background-color: aliceblue;
    top: 2369px;
    left:1px;
    position: absolute;
}

/*?*/
.Temporary{
    height: 10%;
    width: 100%;
    background-color: aliceblue;
    top: 380px;
    left:1px;
    position: absolute;
}

.test{
    height: 35%;
    width: 40%;
    top: -55px;
    left: -200px;
    position: absolute;
}