/*Computers*/
@media screen and (min-width: 780px){
   /*Body*/
    .view {
        width: 100%;
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    body{
        background-image: linear-gradient(#9E606F, #C07F80, #E1AA96, #E9BCB2, #E1989F);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 0%;
        margin: 0%;
        font-family: 'Brush Script MT', cursive;
        overflow-x: hidden;
        
}
/*Heading*/
.Name{
    top: -200px;
    left: 500px;
    position: absolute;
    font-size: 200px;
}
.VinesL{
    height: 130%;
    width: 140%;
    top: -285px;
    left: -268px;
    position: absolute;
}


/*About me*/
.Aboutb{
    height: 35%;
    width: 40%;
    top: -59px;
    left: -175px;
    position: absolute;
}
.Picture{
    height: 70%;
    width: 32%;
    background-color:#9E606F;
    top: 850px;
    left: -1px;
    position: absolute;
    border-radius: 25%;
}
.About{
    height: 70%;
    width: 100%;
    background-color: aliceblue;
    top: 850px;
    left:0px;
    position: absolute;
}
.AboutF{
    top: 855px;
    left:498px;
    position: absolute;
    font-size:50px;
}
.rope{
    height: 30%;
    width: 80%;
    top: 760px;
    left: -180px;
    position: absolute;
}
.rope2{
    height: 30%;
    width: 80%;
    top: 1265px;
    left: -475px;
    position: absolute;
}
}
.flower1{
    height: 20%;
    width: 30%;
    top: 830px;
    left: 1190px;
    position: absolute;
}
.flower2{
    height: 20%;
    width: 30%;
    top: 1275px;
    left: -198px;
    position: absolute;
}
.flower3{
    height: 20%;
    width: 30%;
    top: 830px;
    left: -198px;
    position: absolute;
}
.flower4{
    height: 20%;
    width: 30%;
    top: 1275px;
    left: 230px;
    position: absolute;
}
.flower5{
    height: 20%;
    width: 30%;
    top: 830px;
    left: 225px;
    position: absolute;
}
.flower6{
    height: 20%;
    width: 30%;
    top: 1280px;
    left: 1180px;
    position: absolute;
}


/*Skills*/
.Skillsb{
    height: 35%;
    width: 40%;
    top: 180px;
    left: -140px;
    position: absolute;
}
.Skills{
    height: 61%;
    width: 100%;
    background-color: aliceblue;
    top: 1500px;
    left:0px;
    position: absolute;
}
.python{
    height: 32%;
    width: 15%;
    top: 1500px;
    left: 90px;
    position: absolute;
}
.pythonF{
    top: 1640px;
    left: 155px;
    position: absolute;
    font-size: xx-large;
}
.bar{
    top: 400px;
    left: 200px;
    position: absolute;
}
.flower7{
    height: 20%;
    width: 30%;
    top: 1480px;
    left: 1180px;
    position: absolute;
}
.flower8{
    height: 20%;
    width: 30%;
    top: 1480px;
    left: -200px;
    position: absolute;
}
.flower9{
    height: 20%;
    width: 30%;
    top: 1860px;
    left: 1180px;
    position: absolute;
}
.flower10{
    height: 20%;
    width: 30%;
    top: 1860px;
    left: -200px;
    position: absolute;
}


/*Projects*/
.Projectsb{
    height: 35%;
    width: 40%;
    top: 316px;
    left: -120px;
    position: absolute;
}
.Projects{
    height: 80%;
    width: 100%;
    background-color: aliceblue;
    top: 2200px;
    left:0px;
    position: absolute;
}
.flower11{
    height: 20%;
    width: 30%;
    top: 2180px;
    left: 1180px;
    position: absolute;
}
.flower12{
    height: 20%;
    width: 30%;
    top: 2180px;
    left: -200px;
    position: absolute;
}
.flower13{
    height: 20%;
    width: 30%;
    top: 2700px;
    left: -200px;
    position: absolute;
}
.flower14{
    height: 20%;
    width: 30%;
    top: 2700px;
    left: 1180px;
    position: absolute;
}
/*Contacts*/
.Contactsb{
    height: 35%;
    width: 40%;
    top: 75px;
    left: -40px;
    position: absolute;
}
.Contacts{
    height: 40%;
    width: 100%;
    background-color: aliceblue;
    top: 3000px;
    left:1px;
    position: absolute;
}
.flower15{
    height: 20%;
    width: 30%;
    top: 2980px;
    left: 1180px;
    position: absolute;
}
.flower16{
    height: 20%;
    width: 30%;
    top: 2980px;
    left: -200px;
    position: absolute;
}
.flower17{
    height: 20%;
    width: 30%;
    top: 3200px;
    left: 1180px;
    position: absolute;
}
.flower18{
    height: 20%;
    width: 30%;
    top: 3200px;
    left: -200px;
    position: absolute;
}
/*border*/
.border1{
    height: 30%;
    width: 30%;
    top: 600px;
    left:-100px;
    position: absolute;
}
.border2{
    height: 30%;
    width: 30%;
    top: 600px;
    left:130px;
    position: absolute;
}
.border3{
    height: 30%;
    width: 30%;
    top: 600px;
    left:360px;
    position: absolute;
}
.border4{
    height: 30%;
    width: 30%;
    top: 600px;
    left:600px;
    position: absolute;
}
.border5{
    height: 30%;
    width: 30%;
    top: 600px;
    left:830px;
    position: absolute;
}
.border6{
    height: 30%;
    width: 30%;
    top: 600px;
    left:1067px;
    position: absolute;
}


/*?*/
.test{
    height: 35%;
    width: 40%;
    top: -59px;
    left: -175px;
    position: absolute;
}